<%- include("partials/header.ejs")%>
<header>
    <h1>Publish your passions, your way</h1>
    <h3>Create a unique and beautiful blog easily.</h3>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

<!-- <button><a href="blog1"> Create your own blog</a></button> -->

<main>
    <article>
        <h2 class="blog1"><a href="blog1">Blog Heading 1</a></h2>
        <p>Summary</p>
    </article>
    <article>
        <h2 class="blog2"><a href="blog2">Blog Heading 2</a></h2>
        <p>Summary</p>
    </article>
</main>

<%-include("partials/footer.ejs")%>